:root{
	 --mainColor:#232931;
	 --secondaryColor:#393e46;

	 --borderColor:#c1c1c1;

	--mainText:#eeeeee;
	--secondaryText:#4ecca3;

	--themeDotBorder:#393e46;

	--previewBg:#393e46;
	--previewShadow:#232931;

	--buttonColor:#4ecca3;
}
