:root{
	 --mainColor:#955670;
	 --secondaryColor:#EBAAB0;

	 --borderColor:#c1c1c1;

	--mainText:#eeeeee;
	--secondaryText:#eeeeee;

	--themeDotBorder:#393e46;

	--previewBg:#EBAAB0;
	--previewShadow:#955670;

	--buttonColor:#275070;
}
